<app-menu></app-menu>

<div class="content-container" style="margin: 0 auto;margin:30px">
  <table style="margin: 0 auto;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of this.mainService.orders?.orders">
        <th>{{order.id}}</th>
        <th>{{order.first_name}}</th>
        <th>{{order.last_name}}</th>
        <th>{{order.email}}</th>
        <th>{{order.phone}}</th>
        <th>{{order.price}}</th>
      </tr>
    </tbody>
  </table>
</div>
