#main {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column ;
}

#produkt{
  width: 320px;
  height: 450;
  background-color:rgb(152, 185, 196);
  border-radius: 3px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 20px ;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0, .15);
  transition: all .3s;
}

#produkt:hover{
  background-color: rgb(210, 228, 235);

}

#tocart{
  margin-right: auto;
  margin-left: auto;
  height: 35px;
  width: 94px;
  background-color: rgb(152, 185, 196);;
  padding: 7px ;
  border-radius: 2px;
  border: 1px solid;
  cursor: pointer;
}
#tocart:hover{
  background-color: whitesmoke;
  border:2px;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0, .15);
}

#centrowanie{
  margin-left: auto;
  margin-left: auto;
  text-align: center;
}
