<app-panel-top></app-panel-top>
<br>
<div id="main">
  <br>
      <div id="produkt" ng-container *ngFor="let product of this.mainService.products?.productsTable">
        <div id="centrowanie"><img style="width: 180px;" src="{{product.thumbnail}}" alt=""></div>
            <div id="fontowanie">
             <h3>{{product.title}}</h3>
             {{product.price}} PLN<br>
             {{product.category}}<br>
            </div>
        <div id="tocart" (click)="addToCart(product)">Do koszyka</div>
      </div>
      <br>
</div>




