<app-panel-top></app-panel-top>
<div id="basket">
  <div class="payment" style="margin-left: auto;margin-right: auto;">
    <div id="paypal">
      <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg">
    </div>
    <form action="http://www.jakubadamus.cba.pl/paypal.php" method="get" #paymentForm>
      <input id="imput" type="text" #firstName name="firstName"  placeholder="Imie"><br>
      <input id="imput" type="text" #lastName name="lastName"  placeholder="Nazwisko"><br>
      <input id="imput" type="text" #email name="email"  placeholder="Email"><br>
      <input id="imput" type="text" name="phone" placeholder="Telefon"><br>
      <ng-container *ngFor="let object of this.mainService.cart">
      <input type="hidden" name="products[]" value="{{ object | json }}">
      </ng-container>
      <label for="">Akceptuję regulamin:<input id="imput"#regulamin type="checkbox" name="aggrement" id="" (change)="0"></label>
      <button id="but" [disabled]="!regulamin.checked" (click)="paymentForm.submit()">Kup</button>
    </form>
  <div class="products" id="productsTable">
    <div class="summary" id="papPal"><h1>Do zapłaty:</h1><p>{{getCartPrice()}} PLN</p>
  </div>
</div>
</div>
</div>

<div id="baskecik" ng-container *ngFor="let object of this.mainService.cart">
    <div id="centrowanie"><img style="width: 180px;" src="{{object.product.thumbnail}}" alt=""></div>
      <ul>
        <li>Tytuł: {{object.product.title}}</li>
        <li>Cena: {{object.product.price}}</li>
        <li>Kategoria: {{object.product.category}}</li>
      </ul>
</div>


